<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Include eel.js - note this file doesn't exist in the 'web' directory -->
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="../static/js/app.js"></script>
    <link rel="stylesheet" href="../dist/style.css">
    <link rel="stylesheet" href="../dist/print-style.css" media="print">
    {% block head_scripts %}{% endblock %}

</head>
<body>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>