[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"

[packages]
eel = "*"
Jinja2 = ">=2.10.1"
Pillow = "*"
keyboard = "*"
pyperclip = "*"
mypy = "*"
pyinstaller = "*"
configobj = "*"
docopt = "==0.6.2"
bleach = "*"

[requires]
python_version = "3.7"
