.ClipItemSettings {
  width: 100%;
  position: absolute;
  opacity: 0;
  display: flex;
  padding: 2px 0px;
  color: #ffffff;
  background: #0d88ad;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;

  &:hover {
    opacity: 1;
  }
}