.content {
  margin: 0 auto;
  width: 800px;
}

.clipped {
  margin: 3px;

  .image {

  }

  .text {

  }
}

.dnd-move {
  background-color: beige;
  box-shadow: 0 10px 6px -6px #777;
}

img {
  height: auto;
  max-width: 800px;
}