/* Never ever set "overflow: auto/scroll"
   to the muuri element, stuff will break */
#clips {
  position: relative;
  min-height: 95px;
}

.clipped {
  position: absolute;
  width: 100%;
  height: auto;
}

.clipped.muuri-item-releasing {
  z-index: 9998;
}

.clipped.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}

.clipped.muuri-item-hidden {
  z-index: 0;
}

